No Published date for some italian news sites

Sorry that I cant test this myself, im on vacation right now and only have my mobile phone.

It seems like parsing the published date fails for these two sites

http://www.ilgiornale.it/taxonomy/term/40821/feed

https://www.ilmessaggero.it/rss/mondo.xml

More details can be found here:

https://gitlab.com/news-flash/news_flash_gtk/-/issues/382

Hey @jangernert , thanks for the bug report - will take a look. 
(and I hope you enjoyed your vacation!)

The date format used in `ilgiornale` is curious e.g. `Tue, 15 Nov 2022 20:15:04 Z`

It is not [RFC 2822](https://www.rfc-editor.org/rfc/rfc2822#page-14) per the [RSS 2.0 standard](https://validator.w3.org/feed/docs/rss2.html#optionalChannelElements) or even RFC 822 which was superseded by 2822.

It looks like the long form of [RFC 1123](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#RFC_1123_DATE_TIME)



Awesome! Thank you for fixing this.

(Lets say: my wife enjoyed the vacation. I wouldn't have minded staying home :D)